<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./lib/vue.js"></script>
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>任务清单</h1>
            <input autofocus="autofocus" v-model="valueinfo" autocomplete="off" placeholder="想干啥?" class="new-todo" @keyup.enter="add">
        </header>
        <section class="main">
            <input type="checkbox" class="toggle-all">
            <ul class="todo-list">
                <!--changeList 是根据条件得到的list  -->
                <li :class="['todo',{completed:item.isTodo,editing:item.isEdit} ]" v-for="(item, index) in changeList">
                    <div class="view">
                        <input type="checkbox" v-model="item.isTodo" class="toggle">
                        <label v-cloak @dblclick="editTodo(index)">{{item.name}}</label>
                        <button class="destroy" @click="deleteTodo(index)"></button>
                    </div>
                    <!-- v-focus 自定义指令 -->
                    <input type="text" v-if="item.isEdit" v-focus v-model="savetodo" @keyup.enter="addEidtTodo(index)" @keyup.esc="escTodo(index)"
                        @blur="escTodo(index)" class="edit">
                </li>
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count" v-if="remain!=0">
                <strong v-cloak>{{remain}}</strong> 项 剩余
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" :class="{selected:visibility == '全部'}" @click="changevisibility('全部')">全部</a>
                </li>
                <li>
                    <a href="#/active" :class="{selected:visibility =='未完成'} " @click="changevisibility('未完成')">未完成</a>
                </li>
                <li>
                    <a href="#/completed" :class="{selected:visibility == '完成'}" @click="changevisibility('完成')">完成</a>
                </li>
            </ul>
            <button class="clear-completed" @click="clearList">
                清空列表
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>双击进入编辑状态</p>
        <p>鸣谢:
            <a href="http://evanyou.me">Evan You</a>
        </p>
        <p>参考于
            <a href="http://todomvc.com">TodoMVC</a>
        </p>
    </footer>

    <script>
        // tell the embed parent frame the height of the content
        if (window.parent && window.parent.parent) {
            window.parent.parent.postMessage(["resultsFrame", {
                height: document.body.getBoundingClientRect().height,
                slug: "4dr2fLb7"
            }], "*")
        }
    </script>


</body>

</html>
<script src="./lib/vue.js"></script>
<script>
    // 注册一个全局自定义指令 `v-focus`
    Vue.directive('focus', {
        // 当被绑定的元素插入到 DOM 中时……
        inserted: function (el) {
            // 聚焦元素
            el.focus()
        }
    });
    let app = new Vue({
        el: '.todoapp',
        data: {
            // 输入的带办事
            valueinfo: '',
            // 编辑时零时保存的带办事
            savetodo: "",
            //是否显示但办事的状态
            visibility: '全部',
            list: [{
                    name: "吃饭",
                    isTodo: true,
                    isEdit: false
                },
                {
                    name: "睡觉",
                    isTodo: false,
                    isEdit: false
                },
                {
                    name: "打豆豆",
                    isTodo: true,
                    isEdit: false
                }
            ]
        },
        methods: {
            //添加数据
            add() {
                // console.log('dksds');
                this.valueinfo = this.valueinfo.trim();
                if (this.valueinfo !== '') {
                    this.list.push({
                        name: this.valueinfo,
                        idTodo: false,
                        isEdit: false
                    });
                    this.valueinfo = '';
                }
            },
            //删除单个带办事
            deleteTodo(index) {
                this.list.splice(index, 1);
            }
            // 双击进入编辑状态
            ,
            editTodo(index) {
                //排他思想,排除其他的编辑状态,给当前设置编辑状态
                for (let i = 0; i < this.list.length; i++) {
                    this.list[i].isEdit = false;
                }
                //给当前设置编辑状态
                this.list[index].isEdit = !this.list[index].isEdit;
                //把当前的带办事保存到savetodo 在编辑状态显示
                this.savetodo = this.list[index].name;
                //console.log(this.editTodo);
            },
            //保存编辑的带办事
            addEidtTodo(index) {
                // console.log('kss');
                this.list[index].name = this.savetodo;
                this.list[index].isEdit = !this.list[index].isEdit;
            },
            //退出编辑状态
            escTodo(index) {
                this.list[index].isEdit = false;
            },
            //清空带办事
            clearList() {
                this.list = [];
            },
            //改变显示条件
            changevisibility(data) {
                this.visibility = data;
            }
        },
        // 计算属性
        computed: {
            //剩余带办事的数量
            remain() {
                let num = 0;
                for (let i = 0; i < this.list.length; i++) {
                    console.log(this.list[i].isTodo);

                    if (this.list[i].isTodo == false) {
                        num++;
                    }
                }
                return num;
            },
            //根据条件得到的list
            changeList() {
                //se5的数据遍历的新方法
                return this.list.filter((v, i) => {
                    switch (this.visibility) {
                        case '全部':
                            return v;
                            break;
                        case '未完成':
                            if (v.isTodo == false) {
                                return v;
                            }
                            break;
                        case '完成':
                            if (v.isTodo == true) {
                                return v;
                            }
                            break;

                    }
                });

            }
        }
    });
</script>